<footer class='row'>
    <div class='footer__container col-md-3 col-md-6'>
        <h2 class='footer__title font-oswald'>
            HỆ THỐNG CỬA HÀNG HADES
        </h2>
        <div style='line-height: 21px;' class='footer__content'>
            Hades FLAGSHIP STORE: 69 QUANG TRUNG, GÒ VẤP
            <br />
            Store 2: 26 LÝ TỰ TRỌNG Q.1 ( THE NEW PLAYROUND)
            <br />
            Store 3: 350 ĐIỆN BIÊN PHỦ F17 Q. BÌNH THẠNH (G-TOWN)
            <br />
            Store 4: 4 PHẠM NGŨ LÃO, Q.1
            <br />
            Store 5: 136 NGUYỄN HỒNG ĐÀO, Q.TÂN BÌNH
            <br />
            Store 6: 235 PHAN TRUNG, TP.BIÊN HÒA
            <br />
            Store 7: Tầng 7 - tòa B2 - VINCOM BÀ TRIỆU, HÀ NỘI
        </div>
    </div>
    <div class='footer__container col-md-3 col-md-6'>
        <h2 class='footer__title font-oswald'>
            CHÍNH SÁCH
        </h2>
        <div class='footer__content'>
            <li class='footer__content-li'><a href=''>Chính sách sử dụng website</a></li>
            <li class='footer__content-li'><a href=''>Phương thức thanh toán</a></li>
            <li class='footer__content-li'><a href=''>Chính sách đổi trả</a></li>
            <li class='footer__content-li'><a href=''>Chính sách giao nhận - vận
                    chuyển</a></li>
            <li class='footer__content-li'><a href=''>Điều khoản dịch vụ</a></li>
            <li class='footer__content-li'><a href=''>Hướng dẫn mua hàng</a></li>
            <li class='footer__content-li'><a href=''>Chính sách bảo mật</a></li>
        </div>
    </div>
    <div class='footer__container col-md-3 col-md-6'>
        <h2 class='footer__title font-oswald'>
            THÔNG TIN LIÊN HỆ
        </h2>
        <div class='footer__content'>
            <li class='footer__content-li'>CÔNG TY TNHH HADES Địa chỉ: 45 Phan
                Chu Trinh, P.<br />
                Bến Thành, Quận 1, TP. Hồ Chí Minh</li>
            <li class='footer__content-li'>SỐ GCNĐKDN: 0316393653</li>
            <li class='footer__content-li'>Ngày cấp: 20/07/2020</li>
            <li class='footer__content-li'>Tuyển dụng: hr@hades.vn</li>
            <li class='footer__content-li'>Website: hades.vn</li>
            <li class='footer__content-li'>Liên hệ CSKH: support@hades.vn</li>
            <li class='footer__content-li'>For business: contact@hades.vn</li>
        </div>
    </div>
    <div class='footer__container col-md-3 col-md-6'>
        <h2 class='footer__title font-oswald'>
            FOLLOW US ON SOCIAL MEDIA
        </h2>
        <div class='footer__content'>
            <div>
                <a href='https://www.facebook.com/hadesvietnam/'><i
                        class='footer__icon fab fa-facebook'
                    ></i></a>
                <a href='https://www.instagram.com/hades.studio/'><i
                        class='footer__icon fab fa-instagram-square'
                    ></i></a>
            </div>
            <div>
                <a href=''><img
                        class='footer__content-logo'
                        src='https://file.hstatic.net/1000306633/file/logo_bct_img_3c1bf699d3004ef2887fee1c4eb20afd.png?v=150'
                        alt=''
                    /></a>
            </div>
        </div>
    </div>

</footer>
