<div class='container__header-slide'>
    <header id='js-header' class='container__header'>
        <div class='header__left'>
            <a href='/'><img
                    class='header__left-logo'
                    src='https://theme.hstatic.net/1000306633/1000859591/14/logo.png?v=310'
                    alt=''
                /></a>
        </div>
        <ul class='header__mid'>
            <li
                title='SHOP ALL'
                class='header__mid-li margin__right-20px header__mid-hover'
            ><a class='font-oswald' href='/collections/all'>SHOP ALL</a></li>
            <li
                title='TOPS'
                class='header__mid-li margin__right-20px header__mid-hover'
            ><a class='font-oswald' href='/collections/tops'>TOPS</a></li>
            <li
                title='BOTTOMS'
                class='header__mid-li margin__right-20px header__mid-hover'
            ><a class='font-oswald' href='/collections/bottoms'>BOTTOMS</a></li>
            <li
                title='OUTERWEAR'
                class='header__mid-li margin__right-20px header__mid-hover'
            ><a class='font-oswald' href='/collections/outerwear'>OUTERWEAR</a></li>
            <li
                title='FOOTWEAR'
                class='header__mid-li margin__right-20px header__mid-hover'
            ><a class='font-oswald' href='/collections/footwear'>FOOTWEAR</a></li>
            <li
                title='HAT'
                class='header__mid-li margin__right-20px header__mid-hover'
            ><a class='font-oswald' href='/collections/hat'>HAT</a></li>
            <li
                title='BAGS'
                class='header__mid-li margin__right-20px header__mid-hover'
            ><a class='font-oswald' href='/collections/bags'>BAGS</a></li>
            <li
                title='SALE'
                class='header__mid-li margin__right-20px header__mid-hover'
            ><a class='font-oswald' href='/'>SALE</a></li>
            <li
                title='INSTAGRAM'
                class='header__mid-li margin__right-20px header__mid-hover'
            ><a class='font-oswald' href='/'>INSTAGRAM</a></li>
            <li
                title='RECRUITMENT'
                class='header__mid-li margin__right-20px header__mid-hover'
            ><a class='font-oswald' href='/'>RECRUITMENT</a></li>

            <li class='header__mid-li margin__right-20px'>
                <a
                    class='font-oswald'
                    href='#'
                    id='navbarDropdown'
                    role='button'
                    data-toggle='dropdown'
                    aria-haspopup='true'
                    aria-expanded='false'
                >
                    ADMIN
                </a>
                <div class='dropdown-menu' aria-labelledby='navbarDropdown'>
                    <a class='dropdown-item' href='/products/create'>Thêm sản
                        phẩm</a>
                    <div class='dropdown-divider'></div>
                    <a class='dropdown-item' href='/admin/stored/products'>Sản
                        phẩm hiện có</a>
                    <a class='dropdown-item' href='/admin/stored/news'>Bài viết
                        của tôi</a>
                    <div class='dropdown-divider'></div>
                    <a class='dropdown-item' href='#'>Đăng xuất</a>
                </div>
            </li>

        </ul>
        <div class='header__right font-oswald'>
            <span class='header__right-login margin__right-20px'>
                <a href='/accounts/login'>ĐĂNG NHẬP</a>
                <span>/</span>
                <a href='/accounts/register'>ĐĂNG KÝ</a>
            </span>

            <span>
                <a href='' class='header__right-search margin__right-20px'>TÌM
                    KIẾM</a>
                <a href='' class='header__right-cart'>GIỎ HÀNG</a>
            </span>
        </div>
        <div class='header__top'>
            <a href='/'><img
                    src=''
                    alt=''
                    class='header__top-logo'
                /></a>
            <img src='' alt='' class='header__top-slogan' />

        </div>
        <div class='header__bottom'>
            <div class='header__bottom-left'>
                <svg
                    fill='#000000'
                    height='24'
                    viewBox='0 0 24 24'
                    width='24'
                    xmlns='http://www.w3.org/2000/svg'
                >
                    <path d='M0 0h24v24H0z' fill='none'></path>
                    <path
                        d='M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z'
                    ></path>
                </svg>
            </div>
            <div class='header__bottom-right'>
                <svg
                    fill='#000000'
                    height='24'
                    viewBox='0 0 24 24'
                    width='24'
                    xmlns='http://www.w3.org/2000/svg'
                >
                    <title>Search</title>
                    <path
                        d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'
                    ></path>
                    <path d='M0 0h24v24H0z' fill='none'></path>
                </svg>
                <svg
                    style='width:20px;height:20px'
                    class='svg-cart mobile-only'
                    version='1.1'
                    id='Capa_1'
                    xmlns='http://www.w3.org/2000/svg'
                    xmlns:xlink='http://www.w3.org/1999/xlink'
                    x='0px'
                    y='0px'
                    viewBox='0 0 512.002 512.002'
                    xml:space='preserve'
                >
                    <g>
                        <g>
                            <g>
                                <path
                                    d='M194.59,382.711c-35.646,0-64.646,29-64.646,64.646s29,64.646,64.646,64.646c35.646,0,64.646-29,64.646-64.646
                                    S230.235,382.711,194.59,382.711z M194.59,473.215c-14.261,0-25.858-11.597-25.858-25.858c0-14.261,11.597-25.858,25.858-25.858
                                    c14.254,0,25.858,11.597,25.858,25.858C220.448,461.617,208.851,473.215,194.59,473.215z'
                                ></path>
                                <path
                                    d='M385.941,382.711c-35.646,0-64.646,29-64.646,64.646s29,64.646,64.646,64.646c35.646,0,64.646-29,64.646-64.646
                                    S421.587,382.711,385.941,382.711z M385.941,473.215c-14.261,0-25.858-11.597-25.858-25.858
                                    c0-14.261,11.597-25.858,25.858-25.858c14.261,0,25.858,11.597,25.858,25.858C411.799,461.617,400.202,473.215,385.941,473.215z'
                                ></path>
                                <path
                                    d='M498.088,126.274c-3.685-4.629-9.27-7.324-15.179-7.324H143.326l-17.629-89.095c-1.545-7.803-7.699-13.873-15.528-15.308
                                    L32.594,0.325C22.038-1.621,11.953,5.368,10.02,15.905s5.042,20.641,15.58,22.574l64.607,11.843l56.914,287.667
                                    c1.797,9.083,9.768,15.631,19.025,15.631h271.512c9.031,0,16.86-6.225,18.896-15.037l45.252-195.876
                                    C503.137,136.947,501.767,130.896,498.088,126.274z M422.233,314.833H182.074l-31.075-157.089h307.519L422.233,314.833z'
                                ></path>
                            </g>
                        </g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                </svg>
            </div>
        </div>
        <div class='menu__laptop' style='display:none;'>
            <div class='menu__laptop-title'>
                <span>MENU</span>
                <i class='fas fa-times'></i>
            </div>
            <ul class='menu__laptop-list font-oswald'>
                <li class='menu__laptop-li'><a href=''>SHOP ALL</a></li>
                <li class='menu__laptop-li'><a href=''>TOPS</a></li>
                <li class='menu__laptop-li'><a href=''>BOTTOMS</a></li>
                <li class='menu__laptop-li'><a href=''>OUTERWEAR</a></li>
                <li class='menu__laptop-li'><a href=''>FOOTWEAR</a></li>
                <li class='menu__laptop-li'><a href=''>HAT</a></li>
                <li class='menu__laptop-li'><a href=''>BAGS</a></li>
                <li class='menu__laptop-li'><a href=''>SALE</a></li>
                <li class='menu__laptop-li'><a href=''>INSTAGRAM</a></li>
                <li class='menu__laptop-li'><a href=''>RECRUITMENT</a></li>

            </ul>
        </div>
    </header>
</div>

 <!--Hiệu ứng scroll header-->
<script>
window.onscroll = function() {
    myFunction()

}

function myFunction() {
    if (document.documentElement.scrollTop > 50) {
        document.getElementById("js-header").classList.add('background__header');
        document.querySelector('.header__left-logo').style.width = '80%'
    } else {
        document.getElementById("js-header").classList.remove('background__header');
        document.querySelector('.header__left-logo').style.width = '100%'
    }
}
</script>