 <!-- START LOGIN -->
    <div class="container__login">
        <div class="row container-login">
            <div class="login__title">
                <h1 class="login__title-h1 font-oswald">Đăng nhập</h1>
            </div>
            <div class="login__main">
                <div class="login__main-email">
                    <label for="email" class="login__password">Email</label> <br />
                    <input type="email" id="email" class="email__password-input">
                </div>
                <div class="login__main-password">
                    <label for="password" class="login__password">Password</label> <br />
                    <input type="password" id="password" class="email__password-input">
                </div>
            </div>
            <div class="login__footer">
                <button class="login__footer-dn font-oswald">Đăng nhập</button>
                <div class="login__footer-forget">
                    <a href="" class="login__forget-a">Quên mật khẩu?</a>
                    <br />
                    <span class="login__forget-div">hoặc</span>
                    <a href="" class="login__forget-a">Đăng ký</a>
                </div>
            </div>
        </div>
    </div>
    <!-- END LOGIN -->